<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yinhai.yypt_lp.mapper.write.ToolsImUserWriteMapper">
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from tools_im_user
        where phone = #{phone,jdbcType=VARCHAR}
    </delete>
    <insert id="insert">
        insert into tools_im_user (phone, open_id, user_image, nick_name,
                                   user_status, user_role,invite_code)
        values (#{phone,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR}, #{userImage,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR},
                #{userStatus,jdbcType=VARCHAR}, #{userRole,jdbcType=VARCHAR}, #{inviteCode,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.yinhai.yypt_lp.entity.ToolsImUserEntity">
        update tools_im_user
        set open_id = #{openId,jdbcType=VARCHAR},
            user_image = #{userImage,jdbcType=VARCHAR},
            nick_name = #{nickName,jdbcType=VARCHAR},
            user_status = #{userStatus,jdbcType=VARCHAR},
            user_role = #{userRole,jdbcType=VARCHAR}
        where phone = #{phone,jdbcType=VARCHAR}
    </update>
    <update id="updateBz">
        update tools_im_user
        set bz = #{bz,jdbcType=VARCHAR}
        where phone = #{phone,jdbcType=VARCHAR}
    </update>

    <update id="updateData">
        update tools_im_user
        <set>
            <if test="nickName != null and nickName != ''">
                nick_name = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="userStatus != null and userStatus != ''">
                user_status = #{userStatus,jdbcType=VARCHAR},
            </if>
            <if test="userRole != null and userRole != ''">
                user_role = #{userRole,jdbcType=VARCHAR},
            </if>
        </set>
        where phone = #{phone,jdbcType=VARCHAR}
    </update>

    <update id="deleteData">
        delete from tools_im_user
        where phone = #{phone,jdbcType=VARCHAR}
    </update>
</mapper>