<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yinhai.yypt_lp.mapper.write.ToolsImGroupWriteMapper">
    <insert id="insertGroup" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into tools_im_group (id, group_id, group_status, create_time, conversation_id
        )
        values (#{id,jdbcType=VARCHAR}, #{groupId,jdbcType=VARCHAR}, #{groupStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR},
                #{conversationId,jdbcType=VARCHAR}
               )
    </insert>
    <update id="updateGroup" parameterType="com.yinhai.yypt_lp.vo.ToolsImGroupVo">
        update tools_im_group
        <set>
            <if test="groupId != null">
                group_id = #{groupId,jdbcType=VARCHAR},
            </if>
            <if test="groupStatus != null">
                group_status = #{groupStatus,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=VARCHAR}
            </if>
        </set>
        where conversation_id = #{conversationId,jdbcType=VARCHAR}
    </update>
</mapper>